name: Exam Prep CI/CD
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Display SoftUni username
      run: echo "Anton_Rusev"
    - name: Install  NPM 
      run: npm install
    - name: Run Unit Tests  
      run: npm run test:unit

  deploy:

    needs: build
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to production
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.SERVICE_ID }}
          api-key: ${{ secrets.RENDER_API_TOKEN }}
          
  ui_tests:

    needs: deploy
    runs-on: ubuntu-latest
          
    strategy:
      matrix:
        node-version: [14.x]
            
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Display SoftUni username
      run: echo "Anton_Rusev"
    - name: Install  NPM 
      run: npm install
    - name: Run Playwright tests
      uses: microsoft/playwright-github-action@v1.5.4